.album {
  min-height: 50rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}